:root {
  --blue-color: #2196f3;
  --black-color: #212121;
  --grey-color: #757575;
  --white-color: #ffffff;
  --background-white: #ffffff;
  --background-grey: #f5f4fa;
  --background-black: #2f303a;
  --color-a-grey: rgba(255, 255, 255, 0.6);
  --main-button: #188ce8;
  --fill-icon: #AFB1B8;
  --footer-icon-back: rgba(255, 255, 255, 0.1);
  --biznes-gradient: rgba(47, 48, 58, 0.4);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1)
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--background-white);
  color: var(--grey-color);
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
.conteiner{
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* шапка */
.header-line{
  width: 100vw;
  border-bottom: 1px solid var(--background-grey);
}
.header{
  width: 1200px;
  display: flex;
}
.list{
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.сonteiner-nav__list{
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 43px;
}
 .active::after{
 position: absolute;  
  content: '';
  height: 4px;
  width: 100%;
  left: 0;
  border-radius: 2px;
  background-color: var(--blue-color);
  bottom: -33px;
 }
.header__logo-link {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--black-color);
  letter-spacing: 0.03em;
  margin-top: 24px;
  margin-bottom: 25px;
}
.сonteiner-nav__item{
  position: relative;
  margin-left: 50px;
}
.header__logo {
  color: var(--blue-color);
}
.сonteiner-nav__item,
.header-contact__item {
  list-style: none;
}
.сonteiner-nav__list .link {
  color: var(--black-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* contact */
.header-contact .link {
  text-decoration: none;
  color: var(--grey-color);
}
.header-contact {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  cursor: pointer;
  text-decoration: none;
  align-items:center;
  margin-left: 274px;
}

.link{
  text-decoration: none;
}
.header-contact__icon-mail{
  vertical-align: -1px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}
.header-contact__icon-tel{
  vertical-align: bottom;
  width: 10px;
  height: 16px;
  fill: currentColor;
}
.tel-tel{
  margin-left: 30px;
}
.header-contact__icon-mail{
  margin-right: 5px;
}
.header-contact__icon-tel{
  margin-right: 5px;
}


/* main */
.biznes{
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-black);
  text-align: center; 
  background-image: linear-gradient(
    to right,
  var(--biznes-gradient),
    var(--biznes-gradient)
  ),
  url(../imeges/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.biznes__tital {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.biznes__button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--blue-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
margin-top: 40px;
width: 200px;
height: 50px;
transition: box-shadow 250ms var(--cubic),
background-color 250ms var(--cubic);
}

.biznes__button:hover,
.biznes__button:focus {
  background-color: var(--main-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.benefits{
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits-back{
  background-color: #F5F4FA;
  width: 270px;
  height: 120px;
}
.benefits__item::before{
content: '';
  display: inline-block;  
  width: 270px;
  height: 120px;
  background-color: var(--background-grey);
  margin-bottom: 30px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}
.benefits__item:nth-child(1)::before{
  background-image: url(../imeges/icons.svg/benefits1.svg);
}
.benefits__item:nth-child(2)::before{
  background-image: url(../imeges/icons.svg/benefits2.svg);
}
.benefits__item:nth-child(3)::before{
  background-image: url(../imeges/icons.svg/benefits3.svg);
}
.benefits__item:nth-child(4)::before{
  background-image: url(../imeges/icons.svg/benefits4.svg);
}
.benefits__list {
  list-style: none;
}
.benefits__tital {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-color);
}
.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}
.benefits__list{
  display: flex;
}
.benefits__item:not(:last-child) {
  margin-right: 30px;
}
.lessons{
  padding-bottom: 94px;
}
.lessons__tital {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--black-color);
  text-align: center;
  margin-bottom: 50px;
}
.lessons__list {
  list-style: none;
  display: flex;
}
.lessons__item:not(:last-child) {
  margin-right: 30px;
}
.team__tital {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--black-color);
}
.card-team{
  padding-top: 30px;
  padding-bottom: 30px;
}
.card-team__tital {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  margin-bottom: 10px;
}
.card-team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team{
  background-color: var(--background-grey);
  padding-bottom: 94px;
  padding-top: 94px;
}
.team__tital{
  margin-bottom: 50px;
text-align: center;
}
.team__list{
  display: flex;
  margin: 0;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}
.team__item{
  list-style: none;
 background-color: var(--background-white);
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
 width: 270px;
}
.card-team__icon-list{
  list-style: none;
  display: flex;
  margin-top: 16px;
  justify-content: center;
}
.card-team__icon-item:not(:last-child){
 margin-right: 10px;
}
.card-team__icon-item{
  width: 44px;
  height: 44px;
}
.card-team__link{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  fill: var(--fill-icon);
  display: flex;
  justify-content: center;
  padding-top: 12px;
  transition: background-color 250ms var(--cubic),
  fill 250ms var(--cubic);
}


.card-team__link:focus,
 .card-team__link:hover{
   background-color: var(--blue-color);
   fill: var(--white-color);
 } 

.clients{
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__tital{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--black-color);
  margin-bottom: 50px;
}
.clients__list{
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.clients__link{ 
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 170px;
  height: 92px;
  cursor: pointer;
  fill: var(--fill-icon);
  border: 1px solid var(--fill-icon);
  border-radius: 4px;
  padding: 16px 32px;
  transition: fill 250ms var(--cubic),
  border-color 250ms var(--cubic);
}


.clients-item:not(:last-child){
  margin-right: 30px;
}

/* footer */
.footer{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-black);
}
.footerbox-for-help{
  display: flex;

}
.join__tital{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--white-color);
margin-bottom: 20px;
}
.sub__tital{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--white-color);
margin-bottom: 20px;
}
.join__list{
  list-style: none;
  display: flex;
  padding-left: 0;
}
.join__link{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-icon-back);
  justify-content: center;
  cursor: pointer;
  align-items: center;
  display: flex;
  transition: background-color 250ms var(--cubic);
}
.join__link:hover,
.join__link:focus{
  background-color: var(--blue-color);
}
.join__item:not(:last-child){
  margin-right: 10px;
}
.join__link{
  fill: var(--white-color);
}

.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--white-color);
  letter-spacing: 0.03em;
}
.logo-footer--color-blue {
  color: var(--blue-color);
  
}
.contact-footer__adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  font-style: normal;
  margin-top: 20px;
}
.contact-footer__mail-box{
  margin-top: 9px;
  margin-bottom: 9px;
}
.contact-footer__mail{
font-style: normal;
text-decoration: none;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--color-a-grey);

}
.contact-footer__tel{
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-a-grey);
}

.join{
margin-left: 70px;
padding-top: 12px;
}
.sub{
  margin-left: 93px;
  padding-top: 12px;
}
.sub__input{
  width: 358px;
  height: 50px;
  background-color: var(--background-black);
  padding: 15px 16px 15px 16px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;
color: var(--background-white);
margin-right: 12px;
}
.sub__box{
  display: flex;
}
.sub__button{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  
  color: #FFFFFF;

  width: 200px;
  height: 50px;
  background-color: var(--blue-color);
  border: 4px solid var(--blue-color);
  border-radius: 4px;
  padding-left: 29px;
}
.sub__icon{
  margin-left: 10px;
}
/* портфолио */
.portfolio__box{
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  background-color: var(--background-grey);
  cursor: pointer;  
  padding-left: 0;
  border-radius: 4px; 
  border: none;
  padding: 6px 22px 6px 22px;
  transition: color 250ms var(--cubic),
  box-shadow 250ms var(--cubic),
  background-color 250ms var(--cubic);
}
.portfolio__filter-item:not(:last-child){
  padding-right: 8px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}
.portfolio__filter-list {
  list-style: none;
  display: flex;
  padding-top: 0;
  justify-content: center;
  margin: 0px;
  margin-bottom: 50px;
  
}

.project__list {
  list-style: none;
   display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  gap: 30px;
}
.project__tital{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
}
.project__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
.project__info-text{
  position: absolute;
  top: 0;
  opacity: 2;
  width: 100%;
  height: 100%;
  font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.03em;
color: var(--background-white);
padding: 63px 24px;
background-color: rgba(33, 150, 243, 0.9);
transform: translateY(101%);
transition: transform 250ms var(--cubic);
}


.project__box{
  position: relative;
  overflow: hidden;
}

.project__item{
  border: 1px solid var(--background-grey);
  width: 370px;
  transition: box-shadow 250ms var(--cubic);
}
.project__item:hover,
.project__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__item:hover .project__info-text,
.project__item:focus .project__info-text{
 transform: translateY(0);
}
.project__info-box{
  padding: 20px 24px 20px 24px;
  border-top: none;
}
/* animations */
.anim-link{
  transition: color 250ms var(--cubic);
}
.anim-link:hover,
.anim-link:focus{
  color: var(--blue-color);
}
.clients__link:hover,
.clients__link:focus{
  fill: var(--blue-color);
  border-color: var(--blue-color);
}
.lessons__box-link{
  position: relative;
  display: flex;
}
.lessons__box-text{
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--background-white);
}
.lessons__box-text-tital{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  font-weight: 700;
  line-height: 1.14px;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}
.modal-back{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: opacity 250ms var(--cubic);
}
.modal{
 position: absolute;
 top: 0;
 left: 0;
 top: 50%;
 left: 50%;
 min-height: 581px;
 min-width: 528px;
 transform: translate(-50%, -50%);
 background-color: var(--background-white);
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}
.modal__button{
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--background-white);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover,
.modal__button:focus{
  fill: var(--blue-color);
}
.modal-back.is-hidden {
  opacity: 0;
  pointer-events: none;
}
/* form */
.form{
  padding: 40px;
}
.form__tital{
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

textarea{
  resize: none;
}
.mini-blog{
  text-align: left;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

letter-spacing: 0.01em;

color: #757575;
}
.form__item{
/* position: relative; */
display: flex;
flex-direction: column;
text-align: start;
}

.form__list{
  margin-top: 12px;
}
.form__input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;;
padding-left: 42px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea{
padding: 12px 16px;
width: 100%;
height: 120px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
font-family: 'Roboto';
color: rgba(117, 117, 117, 0.5);
margin-top: 4px;
} 

.coments{
  padding-bottom: 20px;
}
.check{
  width: 16px;
  height: 15px;
  margin-right: 7px;
}
.checkbox-blog__text{
  position: relative;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;
}
.checkbox-blog{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.checkbox-blog__button-submit{
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
background-color: var(--blue-color);
border: none;
color: var(--background-white);
cursor: pointer;

font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;

letter-spacing: 0.06em;
}
.checkbox-blog__link--color-blue{
  color: var(--blue-color);
}
.mini-blog input{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

letter-spacing: 0.01em;

color: #757575;
}
.coments textarea{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

letter-spacing: 0.01em;

color: #757575;
}
.coments textarea::placeholder{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);
}
.transform-for-help{
  padding: 0;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px
}
.form-icon{
  position: absolute;
  top: 50%;
  left: 15px;
  fill: var(--black-color);
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-blog__checkbox-input{
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 clip: rect(0 0 0 0);
 overflow: hidden;
 
}

.checkbox-blog__check-icon{
  display: inline-block;
  width: 16px;
  height: 15px;
 
  border: 2px solid var(--black-color);
  border-radius: 4px;
  margin-right: 7px;
}
.checkbox-blog__checkbox-input:checked + .checkbox-blog__check-icon{
  background-color:var(--blue-color);
  background-image: url(../imeges/icon-check.svg);
  background-size: conteiner;
  background-origin: border-box;
  border-color: var(--blue-color);

}
.checkbox-blog__text{
  display: flex;
  align-items: center;
}
.form__input:focus {
  outline: none;
  border-color: var(--blue-color);
}
.form__input:focus + .form-icon {
  outline: none;
 fill: var(--blue-color);
}
.form__label{
  outline: none;
}